# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Media
media/

# Static
staticfiles/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Фильмы и загруженные медиа
movies/
media/